{% extends 'base.html' %}
<title>{% block title %}history{% endblock %}</title>
{% block body %}
<style>
    @media screen and (max-width: 400px){
        .return_table{
            font-size: 11px;
            width: 20%;
        }
        .issue_table{
            font-size: 12px;
            width: 20%;
        }
    }
    @media screen and (max-width: 370px){
        .return_table{
            font-size: 11.6px;
        }
        .issue_table{
            font-size: 12.6px;
        }
        .book_table{
            font-size: 10px;
        }
        .patron_table{
            font-size: 7.8px;
        }
        .fine_table{
            font-size: 15px;
        }
        .notify_table{
            font-size: 13px;
            min-width: 100px;
            padding: 11px 12px;
        }
        .notify_table tbody tr th{
            font-weight: bold;
        }
        .cart_table{
            font-size: 12px;
        }
        .news_table{
            font-size: 12px;
        }
    }





</style>
{% load custom_filters %}
{% if t_issued_books %}
<h3 class="text-center" style="padding: 10px 100px;">
    <b class="text-white text-uppercase">Issued Books</b>
</h3>
<div class="col-md-12 text-center">
    <div class="col-md-12 text-center">
        <div class="card col-md-12 p-2 text-center">
            <table class="table issue_table">
                <thead>
                <tr class="text-uppercase text-center">
                    <th><b>BOOK NAME</b></th>
                    <th><b>Issued To</b></th>
                    <th><b>ISSUE DATE</b></th>
                    <th><b>RETURN DATE</b></th>
                </tr>
                </thead>
                <tbody class="text-uppercase text-center">
                {% for issued_book in t_issued_books %}
                <tr>
                    <td>
                        {{ issued_book.book.name }}
                        {% for book in cbook %}
                        {% if book.name == issued_book.book.name %}
                        ({{ book.primary_number }})
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ issued_book.patron }}
                        {% for patron in patron %}
                        {% if patron.name == issued_book.patron.name %}
                        ({{ patron.card_no }})
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ issued_book.issue_date }}</td>
                    <td>{{ issued_book.return_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% if t_returned_books %}
<h3 class="text-center" style="padding: 10px 100px;">
    <b class="text-white text-uppercase">Returned Books</b>
</h3>
<div class="col-md-12">
    <div class="col-md-12">
        <div class="card col-md-12 p-2">
            <table class="table return_table">
                <thead>
                <tr class="text-uppercase text-center">
                    <th><b>BOOK NAME</b></th>
                    <th><b>Returned By</b></th>
                    <th><b>ISSUE DATE</b></th>
                    <th><b>RETURN DATE</b></th>
                </tr>
                </thead>
                <tbody class="text-uppercase text-center">
                {% for returned_book in t_returned_books %}
                <tr>
                    <td>
                        {{ returned_book.book.name }}
                        {% for book in cbook %}
                        {% if book.name == returned_book.book.name %}
                        ({{ book.primary_number }})
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ returned_book.patron }}
                        {% for patron in patron %}
                        {% if patron.name == returned_book.patron.name %}
                        ({{ patron.card_no }})
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ returned_book.issue_date }}</td>
                    <td>{{ returned_book.return_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% if t_patrons %}
<h3 class="text-center" style="padding: 10px 100px;">
    <b class="text-white text-uppercase">Patrons</b>
</h3>
<div class="col-md-12 text-center">
    <div class="col-md-12 text-center">
        {% for t_patron in t_patrons %}
        <div class="card col-md-12 p-2 text-center">
            <table class="table patron_table">
                <tbody class="text-uppercase text-center">
                <tr>
                    <th>No.</th>
                    <td>{{ forloop.counter }}</td>
                </tr>
                <tr>
                    <th><b>NAME</b></th>
                     <td>
                        {{ t_patron.name }} ({{ t_patron.card_no }})
                         {% if user.is_authenticated and user.email == t_patron.gmail %} <b class="text-danger">(main)</b>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th><b>Gmail</b></th>
                    <td>{{ t_patron.gmail }}</td>
                </tr>
                <tr>
                    <th><b>MOBILE NO</b></th>
                    <td>{{ t_patron.phone }}</td>
                </tr>
                <tr>
                    <th></th>
                     <td class="text-right"><a class="btn btn-sm btn-primary edit-button" href="{% url 'mylibrary:update_patron' t_patron.id %}">Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if t_books %}
<h3 class="text-center" style="padding: 10px 100px;">
    <b class="text-white text-uppercase">Books</b>
</h3>
<div class="col-md-12 text-center">
    <div class="col-md-12 text-center">
        {% for t_book in t_books %}
        <div class="card col-md-12 p-2 text-center">
            <table class="table book_table">
                <tbody class="text-uppercase text-center">
                <tr>
                    <th><b>Name</b></th>
                    <td>{{ t_book.name }} ({{ t_book.primary_number }})</td>
                </tr>
                <tr>
                    <th><b>Author</b></th>
                    <td>{{ t_book.author }}</td>
                </tr>
                <tr>
                    <th><b>Category</b></th>
                    <td>{{ t_book.category }}</td>
                </tr>
                <tr>
                    <th><b>Language</b></th>
                    <td>{{ t_book.lang }}</td>
                </tr>
                <tr>
                    <th><b>Price</b></th>
                    <td><i class="fa fa-rupee"></i> {{ t_book.price }}</td>
                </tr>
                <tr>
                    <th><b>Stock</b></th>
                    <td>{{ t_book.stock }}.00</td>
                </tr>
                <tr>
                    <th><b>Updated</b></th>
                    <td>{{ t_book.updated }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td class="text-right"><a class="btn btn-sm btn-primary edit-button" href="{% url 'mylibrary:update' t_book.id %}">Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if t_categories %}
<h3 class="text-center" style="padding: 10px 100px;">
    <b class="text-white text-uppercase">Categories</b>
</h3>
<div class="col-md-12">
    <div class="col-md-12">
        <div class="card col-md-12 p-2">
            <table class="table">
                <thead>
                <tr class="text-uppercase text-center">
                    <th><b>No</b></th>
                    <th><b>Name</b></th>
                    <th><b>UPDATE</b></th>
                </tr>
                </thead>
                <tbody class="text-uppercase text-center">
                {% for t_cat in t_categories %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td id="category-name-{{ t_cat.id }}">
                        {{ t_cat.name }}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary edit-button" data-category-id="{{ t_cat.id }}">Edit
                        </button>
                        <button class="btn btn-sm btn-success save-button" data-category-id="{{ t_cat.id }}"
                                style="display: none;">Save
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
  // JavaScript code to handle editing and saving category names
  document.addEventListener("DOMContentLoaded", function() {
    var editableElements = document.getElementsByClassName("editable");
    var editButtons = document.getElementsByClassName("edit-button");
    var saveButtons = document.getElementsByClassName("save-button");

    for (var i = 0; i < editButtons.length; i++) {
      editButtons[i].addEventListener("click", function() {
        var categoryId = this.getAttribute("data-category-id");
        var categoryNameElement = document.getElementById("category-name-" + categoryId);
        categoryNameElement.contentEditable = true;
        categoryNameElement.focus();

        this.style.display = "none";
        var saveButton = document.querySelector(".save-button[data-category-id='" + categoryId + "']");
        saveButton.style.display = "inline-block";
      });
    }

    for (var i = 0; i < saveButtons.length; i++) {
      saveButtons[i].addEventListener("click", function() {
        var categoryId = this.getAttribute("data-category-id");
        var categoryNameElement = document.getElementById("category-name-" + categoryId);
        categoryNameElement.contentEditable = false;

        this.style.display = "none";
        var editButton = document.querySelector(".edit-button[data-category-id='" + categoryId + "']");
        editButton.style.display = "inline-block";

        var newCategoryName = categoryNameElement.innerText;

        // Perform AJAX request to save the updated category name
        // Replace the following code with your AJAX request logic to update the category name on the server
        // Example:
        // fetch('/update-category/' + categoryId + '/', {
        //   method: 'POST',
        //   body: JSON.stringify({ name: newCategoryName }),
        //   headers: {
        //     'Content-Type': 'application/json',
        //   }
        // })
        //   .then(response => response.json())
        //   .then(data => {
        //     console.log('Category name updated successfully');
        //   })
        //   .catch(error => {
        //     console.error('Error updating category name:', error);
        //   });
      });
    }
  });




</script>
{% endif %}
{% if t_lang %}
<h3 class="text-center" style="padding: 10px 100px;">
    <b class="text-white text-uppercase">Languages</b>
</h3>
<div class="col-md-12">
    <div class="col-md-12">
        <div class="card col-md-12 p-2">
            <table class="table">
                <thead>
                <tr class="text-uppercase text-center">
                    <th><b>No</b></th>
                    <th><b>Name</b></th>
                    <th><b>Update</b></th>
                </tr>
                </thead>
                <tbody class="text-uppercase text-center">
                {% for language in t_lang %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        <p id="language-name-{{ language.id }}" class="editable">{{ language.name }}</p>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary edit-button" data-language-id="{{ language.id }}">Edit
                        </button>
                        <button class="btn btn-sm btn-success save-button" data-language-id="{{ language.id }}"
                                style="display: none;">Save
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
  // JavaScript code to handle editing and saving language names
  document.addEventListener("DOMContentLoaded", function() {
    var editableElements = document.getElementsByClassName("editable");
    var editButtons = document.getElementsByClassName("edit-button");
    var saveButtons = document.getElementsByClassName("save-button");

    for (var i = 0; i < editButtons.length; i++) {
      editButtons[i].addEventListener("click", function() {
        var languageId = this.getAttribute("data-language-id");
        var languageNameElement = document.getElementById("language-name-" + languageId);
        languageNameElement.contentEditable = true;
        languageNameElement.focus();

        this.style.display = "none";
        var saveButton = document.querySelector(".save-button[data-language-id='" + languageId + "']");
        saveButton.style.display = "inline-block";
      });
    }

    for (var i = 0; i < saveButtons.length; i++) {
      saveButtons[i].addEventListener("click", function() {
        var languageId = this.getAttribute("data-language-id");
        var languageNameElement = document.getElementById("language-name-" + languageId);
        languageNameElement.contentEditable = false;

        this.style.display = "none";
        var editButton = document.querySelector(".edit-button[data-language-id='" + languageId + "']");
        editButton.style.display = "inline-block";

        var newLanguageName = languageNameElement.innerText;

        // Perform AJAX request to save the updated language name
        // Replace the following code with your AJAX request logic to update the language name on the server
        // Example:
        // fetch('/update-language/' + languageId + '/', {
        //   method: 'POST',
        //   body: JSON.stringify({ name: newLanguageName }),
        //   headers: {
        //     'Content-Type': 'application/json',
        //   }
        // })
        //   .then(response => response.json())
        //   .then(data => {
        //     console.log('Language name updated successfully');
        //   })
        //   .catch(error => {
        //     console.error('Error updating language name:', error);
        //   });
      });
    }
  });




</script>
{% endif %}
{% if t_news %}
<h3 class="text-center" style="padding: 10px 100px;">
    <b class="text-white text-uppercase">Newspaper</b>
</h3>
<div class="col-md-12 text-center">
    <div class="col-md-12 text-center">
        <div class="card col-md-12 p-2 text-center">
            <table class="table news_table">
                <thead>
                <tr class="text-uppercase text-center">
                    <th><b>Name</b></th>
                    <th><b>PDF</b></th>
                    <th><b>Edit</b></th>
                </tr>
                </thead>
                <tbody class="text-uppercase text-center">
                {% for t_news in t_news %}
                <tr>
                    <td>
                        <span id="news-name-{{ t_news.id }}" class="editable">{{ t_news.name }}</span>
                    </td>
                    <td>
                        <a href="{{ t_news.pdf.url }}">PDF HERE</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary edit-button" href="{% url 'search_app:update_news' t_news.id %}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% if t_notify %}
<h3 class="text-center" style="padding: 10px 100px;">
    <b class="text-white text-uppercase">Notifications</b>
</h3>
<div class="col-md-12 text-center">
    <div class="col-md-12 text-center">
        {% for t_notify in t_notify %}
        <div class="card col-md-12 p-2 mb-4 text-center">
            <table class="table notify_table">
                <tbody>
                <tr>
                    <th class="text-uppercase"><b>Name</b></th>
                    <td>{{ t_notify.name }}</td>
                </tr>
                <tr>
                    <th class="text-uppercase"><b>Date</b></th>
                    <td>{{ t_notify.on }}</td>
                </tr>
                <tr>
                    <th class="text-uppercase"><b>Location</b></th>
                    <td>{{ t_notify.location }}</td>
                </tr>
                <tr>
                    <th class="text-uppercase"><b>Inauguration</b></th>
                    <td>{{ t_notify.inauguration }}</td>
                </tr>
                <tr>
                    <th class="text-uppercase"><b>Speech</b></th>
                    <td>{{ t_notify.speech }}</td>
                </tr>
                <tr>
                    <th class="text-uppercase"><b>Song</b></th>
                    <td>{{ t_notify.song }}</td>
                </tr>
                <tr>
                    <th class="text-uppercase"><b>Greetings</b></th>
                    <td>{{ t_notify.greetings }}</td>
                </tr>
                <tr>
                    <th class="text-uppercase"><b>Special Speech</b></th>
                    <td>{{ t_notify.special_speech }}</td>
                </tr>
                <tr>
                    <th class="text-uppercase"><b>Welcome Speech</b></th>
                    <td>{{ t_notify.welcome_speech }}</td>
                </tr>
                <tr>
                    <th class="text-uppercase"><b>Presidential Speech</b></th>
                    <td>{{ t_notify.presidential_speech }}</td>
                </tr>
                <tr>
                    <th class="text-uppercase"><b>Vote of Thanks</b></th>
                    <td>{{ t_notify.vote_of_thanks }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td class="text-right"><a class="btn btn-sm btn-primary edit-button" href="{% url 'search_app:update_notify' t_notify.id %}">Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if t_cart %}
<h3 class="text-center" style="padding: 10px 100px;">
    <b class="text-white text-uppercase">Cart items</b>
</h3>
<div class="col-md-12 text-center">
    <div class="col-md-12 text-center">
        <div class="card col-md-12 p-2 text-center">
            <table class="table cart_table">
                <thead>
                <tr class="text-uppercase text-center">
                    <th><b>book</b></th>
                    <th><b>price</b></th>
                    <th><b>quantity</b></th>
                    <th><b>sub total</b></th>
                </tr>
                </thead>
                <tbody class="text-uppercase text-center">
                {% for t_cart in t_cart %}
                <tr>
                    <td>
                        {{ t_cart.book }}
                    </td>
                    <td>{{ t_cart.book.price }}</td>
                    <td>{{ t_cart.quantity }}</td>
                    <td>{{ t_cart.sub_total }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% if t_fines %}
<h3 class="text-center" style="padding: 10px 100px;">
    <b class="text-white text-uppercase">fines</b>
</h3>
<div class="col-md-12 text-center">
    <div class="col-md-12 text-center">
        {% regroup t_fines by patron.name as patron_fines %}
        {% for patron in patron_fines %}
        {% with patron.list.0 as t_fine %}
        <div class="card col-md-12 p-2 text-center">
            <table class="table patron_table">
                <tbody class="text-uppercase text-center">
                <tr>
                    <th><b>name</b></th>
                    <td>{{ patron.grouper }} ({{ t_fine.patron.card_no }})</td>
                </tr>
                <tr>
                    <th><b>fine</b></th>
                    <td>{{ t_fine.patron.fine }}</td>
                </tr>
                <tr>
                    <th><b>paid</b></th>
                    <td>{{ t_fine.patron.paid }}</td>
                </tr>
                <tr>
                    <th><b>balance</b></th>
                    <td>{{ t_fine.patron.fine}}</td>
                </tr>
                <tr>
                    <th><b>status</b></th>
                    <td>
                        {% if t_fine.patron.fine > 0 %}<i class="text-danger fa fa-xmark"></i>
                        {% else %}
                        <i class="text-success fa fa-check"></i>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}