{% extends 'base.html' %}
{% block body %}
<title>{% block title %}update{% endblock %}</title>
<style>
   .add_btn {
        padding: .45rem 1.5rem .3rem;
        border-radius: 200px;
        padding: 5px 30px;
        align-items: center;
        justify-content: center;
    }
    .label-spacing {
        white-space: nowrap;
    }

</style>
<body>
<br>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form id="my_form" method="post">
                {% csrf_token %}
                <h3 class="text-center" style="padding: 5px 100px;">
                    <b class="text-white">UPDATE</b>
                </h3><br>
                <div class="form-group">
                    {% for field in form %}
                    <div class="input-group">
                        {% if field.field.rel is None %}
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ field.label }}:</span>
                        </div>
                        <input class="form-control" id="{{ field.id_for_label }}"
                               name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}" required>
                        {% else %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <input class="add_btn btn btn-lg btn-success" type="submit" value="UPDATE">
                    {% if u_notify %}
                    <a href="{{ notify_detail_url }}" class="add_btn btn btn-lg btn-primary">
                        BACK
                    </a>
                    {% elif u_book %}
                    <a href="{{ book_detail_url }}" class="add_btn btn btn-lg btn-primary">
                        BACK
                    </a>
                    {% elif u_patron %}
                    <a href="{{ patron_detail_url }}" class="add_btn btn btn-lg btn-primary">
                        BACK
                    </a>
                    {% elif u_news %}
                    <a href="{{ news_detail_url }}" class="add_btn btn btn-lg btn-primary">
                        BACK
                    </a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}